p
{
    background-color: brown;
    font-family: "Courier New";
    font-size:100px;
}
.tb{
    width: 600px;
    height: 110px;
    border-collapse:collapse;
    color: white;
    text-align: center;
}
.tr1{
    background: #1E90FF;
}
.tr2{
    background:	#A9A9A9;
}